.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    border-right: 2px solid #e0e0e0;
}

.sidebar__top-block,
.sidebar__bottom-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

:host ::ng-deep .sidebar .button {
    --button-height: auto;
    --button-padding: 16px 24px;
    --button-font-size: 18px;
    --button-border-radius: 26px;
    --button-hover-background-color: var(--main-hover-color);

    justify-content: flex-start;
}