<div class="sidebar">
    <nav class="sidebar__top-block">
        <app-nav-item icon="fa-regular fa-home" label="Карта" path="/map"></app-nav-item>
        <app-nav-item icon="fa-regular fa-home" label="Список" path="/list"></app-nav-item>
    </nav>
    <nav class="sidebar__bottom-block">
        <app-nav-item icon="fa-regular fa-gear" label="Питання" path="/settings"></app-nav-item>
        <app-nav-item icon="fa-regular fa-right-from-bracket" label="Профіль" path="/profile"></app-nav-item>
    </nav>
</div>
